@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* https: //paletadecolores.online/pt/roxa/ */

:root {
    --text-color: #874CCC;
    --bg-color: #1b004b;
    --bg2-color: #4c007d;
    --bg3-color: #7f00b2;
    --text-white: #ffff;
    --text2-pink: #f988ff;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito',sans-serif;
}

.intro{
    height: 100vh;
    width: 100%;
    background-size: 30%;
    background-color: var(--bg-color)
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.namePortfolio{
    color: var(--text-white);
    font-size: 40px;
    font-weight: 500;
}

.namePortfolio span{
    color: var(--text-color)
}

ul{
    margin-right: 80px;
}

li,a{
    color: var(--text-white);
    display: inline-block;
    font-size: 25px;
    list-style: none;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    color: #F27BBD;
    transition: 0.5s;
    
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100% - 20%);
}

.me{
    margin-right: 20px;
    color: var(--text-white);
    text-align: left;
    padding: 20px;
    font-size: 40px;
    
}

img {
    max-width: 100%;
    max-height: 360px;
    width: auto;
    height: auto;
    border-radius: 94px 10px 100px 0px;
}


.about{
    display: flex;
    background-color: var(--bg2-color);
    align-items: center;
    justify-content: center;
    padding: 60px 15%;
}

.aboutMeText{
    margin-left: 30px;
    padding: 20px;
    
}

.about h2{
    color: var(--text-white);
    font-size: 75px;
}

.about p{
    color: var(--text2-pink);
    font-size: 24px;
    margin-bottom: 20px;
}

.aboutMeText button {
    margin-top: 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.aboutMeText button:hover {
    background-color: #2980b9;
}